<div class="container">
  <div>
    <a [routerLink]="['/user-table']"
      ><button mat-raised-button color="primary">User Table</button>
    </a>
  </div>
  <div>
    <a [routerLink]="['/navbar']"
      ><button mat-raised-button color="primary">User Navbar</button>
    </a>
  </div>
  <div>
    <a [routerLink]="['/feedback-form']"
      ><button mat-raised-button color="primary">
        Customer Feedback Form
      </button>
    </a>
  </div>
</div>

<article>
  <router-outlet></router-outlet>
</article>
